include LICENSE
include MANIFEST.in
include README.rst
include setup.py
recursive-include python-rapidjson *.cpp *.h
include rapidjson readme.md license.txt
recursive-include rapidjson/include *.h
prune rapidjson/doc
