# -*- coding: utf-8; mode: conf-unix -*-
# :Project:   python-rapidjson -- CI (tox) tests requirements
# :Author:    John Anderson <sontek@gmail.com>
# :License:   MIT License
# :Copyright: © 2015 John Anderson
# :Copyright: © 2015 Ken Robbins
# :Copyright: © 2015, 2017, 2018, 2021, 2022, 2023, 2024, 2025 Lele Gaifax
#

mypy==1.16.1
pytest==8.4.1
pytz==2025.2
sphinx==8.2.3
