# -*- coding: utf-8; mode: conf-unix -*-
# :Project:   python-rapidjson -- CI (tox) tests requirements
# :Author:    John Anderson <sontek@gmail.com>
# :License:   MIT License
# :Copyright: © 2015 John Anderson
# :Copyright: © 2015 Ken Robbins
# :Copyright: © 2015, 2017, 2018, 2021, 2022, 2023 Lele Gaifax
#

mypy==1.10.0
pytest==7.4.3
pytz==2023.3.post1
sphinx==7.2.6
