# -*- coding: utf-8; mode: conf-unix -*-
# :Project:   python-rapidjson -- Development requirements
# :Author:    Lele Gaifax <lele@metapensiero.it>
# :License:   MIT License
# :Copyright: © 2017, 2018, 2019, 2020, 2021, 2022 Lele Gaifax
#

-r requirements-test.txt

# Needed by make release
metapensiero.tool.bump-version==1.3
readme-renderer==35.0
twine==4.0.1

# Needed by make benchmarks-*
pytest-benchmark==3.4.1

# Keep in sync with benchmarks/tablize.py versions
pysimdjson==5.0.1
orjson==3.7.6
simplejson==3.17.6
ujson==5.4.0
