# -*- coding: utf-8; mode: conf-unix -*-
# :Project:   python-rapidjson -- CI (tox) tests requirements
# :Author:    John Anderson <sontek@gmail.com>
# :License:   MIT License
# :Copyright: © 2015 John Anderson
# :Copyright: © 2015 Ken Robbins
# :Copyright: © 2015, 2017, 2018, 2021, 2022, 2023, 2024, 2025, 2026 Lele Gaifax
#

mypy==2.1.0
pytest==9.1.1
pytz==2022.2
sphinx==8.2.3
